<div class="pieChart">
  <div class="input">
    <label for="sliceInput">Chọn số phần quà:</label>
    <input id="sliceInput" type="number" min="1" max="12" [value]="tempSlices" (input)="updateTempSlices($event)">
    <button (click)="applyChanges()">Xác nhận</button>
  </div>
  <div class="chart">
    <svg width="500" height="500" viewBox="0 0 200 200">
      <g transform="translate(100, 100)">
        <circle r="99" cx="0" cy="0" fill="white" stroke="black" />
        <ng-container *ngFor="let slice of chartData; let i = index">
          <path [attr.d]="createSlicePath(i).path" [attr.fill]="slice.color"></path>
          <text *ngIf="!slice.isImage" 
              [attr.x]="createSlicePath(i).labelPosition.x" 
              [attr.y]="createSlicePath(i).labelPosition.y" 
              text-anchor="middle" 
              alignment-baseline="middle" 
              [attr.transform]="'rotate(' + (i * 360 / slices + 180 / slices) + ' ' + createSlicePath(i).labelPosition.x + ' ' + createSlicePath(i).labelPosition.y + ')'">
            {{slice.content}}
          </text>
          <image *ngIf="slice.isImage" 
            [attr.x]="createSlicePath(i).labelPosition.x - 10" 
            [attr.y]="createSlicePath(i).labelPosition.y - 10" 
            [attr.width]="20" 
            [attr.height]="20" 
            [attr.href]="slice.content"
            [attr.transform]="'rotate(' + (i * 360 / slices + 180 / slices) + ' ' + createSlicePath(i).labelPosition.x + ' ' + createSlicePath(i).labelPosition.y + ')'">
          </image>
        </ng-container>
      </g>
      <circle r="20" cx="100" cy="100" fill="white" stroke="black" class="center"/>
      <text x="100" y="100" text-anchor="middle" alignment-baseline="middle" font-size="7" fill="black">MYPOINT</text>
    </svg>
    <form [formGroup]="chartForm">
      <div formArrayName="slice" class="form">
        <div *ngFor="let control of sliceArray.controls; let i = index">
          <label>
            Ảnh {{ i + 1 }}:
            <input [formControlName]="i" (input)="onSliceContentChange(i, $event)" />
          </label>
        </div>
      </div>
    </form>
    
  </div>
</div>